<h1 class="CategoryName">@Model.currCategory</h1>
<div class="row mt-5 mb-2">
	@{
		foreach (var toy in Model.allToys)
		{
			<div class="col-lg-3 setochka">
				<img class="img-thumbnail" src="@toy.img"
					 alt="@toy.name" width="300" height="300" />
				<h2>@toy.name</h2>
				<p>@toy.shortDesc</p>
				<p><h3>@toy.price.ToString() ₴</h3></p>
				<p>
					<a class="btn"
					   href="#">Детальніше</a>
				</p>
			</div>
		}
	}
</div>
